.filter__wrapper__close{
    display: none;
}
.filter__wrapper{
    display: block;
    background-color: rgba(0, 0, 0, 0.658);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
}
.filter__body{
    background-color: #eee;
    width: 60vw;
    height: 70vh;
    position: relative;
    padding: 1vh;
    top: 10vh;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 1000;
}
.filter__crest{
    display: inline-block;
    position: absolute;
    right: 5vh;
    top: 3vh;
    cursor: pointer;
}
.filter__title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.filter__main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
}
div .filter__block-color__active{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.filter__block{
    margin: 0 0 8vh 0;   
    width: 10vw;
    height: 5vh;
    font-size: 20px;
    text-align: center;
    padding: 0 0 1vh 0;
    line-height: 2.5vw;
    position: relative;
    border: 1px solid #343434;
    border-radius: 5px;
    color: #343434;
    cursor: pointer;
}
@media (min-height: 876px){
    .filter__block{
        padding: 0 0 0 0;
    }
}
.block-color__wrapper{
    padding: 0;
    margin: 0;
    width: 10vw;
    position: absolute;
    top: 0vh;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.block-color__wrapper__active{
    width: 10vw;
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee;
    border-bottom: 1px solid #343434;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 5vh;
    opacity: 1;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 100;
}
.block-color__wrapper__active::-webkit-scrollbar {
    width: 5px;
    margin-left: 8px;

}
.block-color__wrapper__active::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #343434;
}
.block-color__item{
    display: block;
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    text-decoration: underline;
    color: #343434;
    cursor: pointer;
}
.block-color__item:hover{
    background-color: rgb(71, 133, 130);
    color: #eee;
}
div .filter__block-material__active{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.block-material__wrapper{
    padding: 0;
    margin: 0;
    width: 10vw;
    position: absolute;
    top: 0vh;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.block-material__wrapper__active{
    width: 10vw;
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee;
    border-bottom: 1px solid #343434;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 5vh;
    opacity: 1;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 100;

}
.block-material__wrapper__active::-webkit-scrollbar {
    width: 5px;
    margin-left: 8px;

}
.block-material__wrapper__active::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #343434;
}
.block-material__item{
    display: block;
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    text-decoration: underline;
    color: #343434;
    cursor: pointer;
}
.block-material__item:hover{
    background-color: rgb(71, 133, 130);
    color: #eee;
}
.filter__block-sale{
    position: relative;
    width: 15vw;
    margin-bottom: 3vh;
}
div .filter__block-type__active{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.block-type__wrapper{
    padding: 0;
    margin: 0;
    width: 10vw;
    position: absolute;
    top: 0vh;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.block-type__wrapper__active{
    width: 10vw;
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee;
    border-bottom: 1px solid #343434;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 5vh;
    opacity: 1;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 100;
}
.block-type__wrapper__active::-webkit-scrollbar {
    width: 5px;
    margin-left: 8px;

}
.block-type__wrapper__active::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #343434;
}
.block-type__item{
    display: block;
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    text-decoration: underline;
    border: 1px solid #343434;
    color: #343434;
    cursor: pointer;
}
.block-type__item:hover{
    background-color: rgb(71, 133, 130);
    color: #eee;
}
.block__title{
    text-align: center;
    font-size: 17px;
    font-weight: 550;
}
.block-price__input{
  width: 7vw;
  height: 3vh;
  background-color: #eee;
  color: #343434;
  border: 1.5px solid #343434;
  border-radius: 5px;
  margin-right: 2vw;
}
.block-price__input:focus{
    box-shadow: 1px 1px 6px 1px #b9b7b7;
}
.rating__block{
    width: 20vw;
}
.polzunok__wrapper{
    width: 20vw;
    display: flex;
    align-items: center;
    position: relative;
}
.rating__value{
    text-align: center;
}
.polzunok__polzunok{
  position: absolute;
  left: 0;
  width: 3vh;
  height: 4vh;
  border-radius: 20%;
  background-color: rgb(71, 133, 130);
}
.polzunok__value{
  height: 2vh;
  border: 1px solid #343434;
}
.active__value{
    border: 1px solid rgb(71, 133, 130);
}
.polzunok__spacing{
  width: 5vw;
  height: 0vh;
  border: 1px solid #343434;
}
.active__spacing{
    width: 5vw;
  height: 0vh;
    border: 1px solid rgb(71, 133, 130);
}
.filter__apply{
    height: 6vh;
    padding: 0 20px;
    color: rgb(209, 209, 209);
    background: #388070;
    border: 0.5px solid #343434;
    border-radius: 30px;
    transition: all 0.5s ease 0s;
    position: absolute;
    bottom: 5vh;
    right: 20vw;
    cursor: pointer;
}
.filter__apply:hover{
    transition: all 0.5s ease 0s;
    color: rgb(238, 238, 238);
    background: #449999;
}
.filter__apply:active{
    transform: scale(0.97);
    transition: all 0.3s ease 0s;

}
.filter__reset{
    height: 6vh;
    padding: 0 20px;
    color: rgb(209, 209, 209);
    background: #803838;
    border: 0.5px solid #343434;
    border-radius: 30px;
    transition: all 0.5s ease 0s;
    position: absolute;
    bottom: 5vh;
    left: 20vw;
    margin-right: 5vw;
    cursor: pointer;
}
.filter__reset:hover{
    transition: all 0.5s ease 0s;
    color: rgb(238, 238, 238);
    background: #994444;
}
.filter__reset:active{
    transform: scale(0.97);
    transition: all 0.3s ease 0s;

}
